.time-slot-app{
    text-align: center;
}

.slot_inner {
    border: 2px solid #CECECE;
    width: 500px;
    height: auto;
    margin: auto;
    background: azure;
}

.slot-heading{
    text-transform: uppercase;
    margin-bottom: 30px;
}

body {
    background: antiquewhite;
}